<p class="slot-2">MVP player</p>
<div class="wrap">
    <h2>{{player?.player}}</h2>
    <ul class="info">
        <li>
            <p>TEAM</p>
            <span>{{player?.team}}</span>
        </li>
        <li>
            <p>PTS</p>
            <span>{{player?.pts}}</span>
        </li>
        <li>
            <p>GP</p>
            <span>{{player?.gp}}</span>
        </li>
        <li>
            <p>FG%</p>
            <span>{{player?.fg}}</span>
        </li>
        <li>
            <p>MIN</p>
            <span>{{player?.min}}</span>
        </li>
    </ul>
</div>
